<div ng-controller="headerController as image" ng-cloak>
    <div class="bar bar-header bar-maroon">
      <div>
        <a class="menu-button" href="#"><img class="menu-align" ng-src="src/main/resources/public/images/ic_menu_black_24px.svg"></a>
      </div>
      <h1 class="title">Drinks San Marcos</h1>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#"><img ng-src="src/main/resources/public/images/ic_search_white_24px.svg"></a></li>
      </ul>
    </div>
</div>
