.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white;
}
.title {
  color: white;
}

.platform-android .bar-maroon {
  background-color: rgb(120, 0, 0) !important;
}
.bar-maroon {
  background-color: rgb(120, 0, 0) !important;
}
