.bar-image {
  min-width: 100%;
  min-height: 100%;
  margin-left: -8%;
}
.barDescription {
  color: #546E7A;
}
#specialsIcon {
  fill: #757575;
}
#specialsModal {
  color: #546E7A;
}
#directionsModal {
  color: #546E7A;
}
img.circle {
  background: #eeeeee !important;
}
