.bar-image {
  min-width: 100%;
  min-height: 100%;
  margin-left: -8%;
}
.barDescription {
  color: #546E7A;
}
#specialsIcon {
  fill: #757575;
  height: 25%;
}
#directionsIcon {
  fill: #757575;
  height: 25%;
}
#specialsModal {
  color: #546E7A;
  margin-right: 5%;
  margin-left: -3%;
}
#directionsModal {
  color: #546E7A;
}
.circle {
  background: #eeeeee !important;
  border-radius: 60%;
  padding-top: 4%;
  padding-left: 2%;
  padding-right: 2%;
}
.actionIcons {
  padding-top: 4%;
}
