<span ng-controller="barsListController as barsData">
  <div ng-repeat="bars in barsData.barsArray">
 <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img ng-src="src/main/resources/public/images/large-TapRoom.jpg" temp="BAR NAME">
              <span class="card-title">{{bars.name}}</span>
            </div>
            <div class="card-content">
              <p>{{bars.description}}</p>
            </div>
            <div class="card-action">
              <a href="#">Specials</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</span>

